<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="../static/styles.css">
<head>
    <meta charset="UTF-8">
    <title>Formulario Estudiantil</title>

</head>
<body>
    <header>
        <div id="content"></div>
        <h1 id="formulario" style="text-align: center;">Formulario Estudiantil</h1>
        <p style="text-align: center;">Begup es una plataforma educativa en la provincia de Jujuy que brinda beneficios a estudiantes. ¡Regístrate ahora!</p>
    </header>
    <br>
    <div id="img">
        <img src="../Images/begujpg.webp" alt="">
        <div id="img">
            <img src="../Images/begup.jpeg" alt="">
        </div>
    </div>
    <br>
    <br>

    <form action="#" method="post" style="text-align: center;">

        <label for="DNI">Ingrese DNI</label>
        <br>
        <input type="text">
        <br>
        <label for="Nombres">Ingrese Nombres Completos</label>
        <br>
        <input type="text">
        <br>
        <label for="Apellidos">Ingrese Apellidos</label>
        <br>
        <input type="text">
        <br>
        <label for="FechaNacimiento">Fecha de nacimiento</label>

        <input type="date">
        <br>
        <label for="Genero">Ingrese Genero</label>
 
        <input type="radio" name="Genero" value="Masculino"> Masculino
        <input type="radio" name="Genero" value="Femenino"> Femenino
        <br>
        <br>
        <label for="Correo">Ingrese Correo Electronico</label>
        <br>
        <input type="email">
        <br>
        <label for="FechaNacimiento">Domicilio</label>
        <br>
        <input type="text">
        <br>
        <label for="Provincia">Selecciones Provincia</label>
        <br>
        <select name="Provincia">
            <option value="Buenos Aires">Buenos Aires</option>
            <option value="Catamarca">Catamarca</option>
            <option value="Chaco">Chaco</option>
            <option value="Chubut">Chubut</option>
            <option value="Córdoba">Córdoba</option>
            <option value="Corrientes">Corrientes</option>
            <option value="Entre Ríos">Entre Ríos</option>
            <option value="Formosa">Formosa</option>
            <option value="Jujuy">Jujuy</option>
            <option value="La Pampa">La Pampa</option>
            <option value="La Rioja">La Rioja</option>
            <option value="Mendoza">Mendoza</option>
            <option value="Misiones">Misiones</option>
            <option value="Neuquén">Neuquén</option>
            <option value="Río Negro">Río Negro</option>
            <option value="Salta">Salta</option>
            <option value="San Juan">San Juan</option>
            <option value="San Luis">San Luis</option>
            <option value="Santa Cruz">Santa Cruz</option>
            <option value="Santa Fe">Santa Fe</option>
            <option value="Santiago del Estero">Santiago del Estero</option>
            <option value="Tierra del Fuego">Tierra del Fuego</option>
            <option value="Tucumán">Tucumán</option>
        </select>
        <br>
      
        <label for="Telefono">Ingrese numero de telefono</label>
        <br>
        <input type="text">
        <br>
        <label for="Categorias">Seleccionar las categorías de interés</label>
        <br>
        <input type="checkbox" name="Categorias" value="Categoria1"> Universitario
        
        <br>
        <input type="checkbox" name="Categorias" value="Categoria2"> Primario
        <br>
        <input type="checkbox" name="Categorias" value="Categoria3"> Secundario
        <br>
        <br>
        <label for="Sugerencias">Sugerencias para la empresa</label>
        <br>
        <textarea name="Sugerencias" id="Sugerencias" rows="4" cols="50"></textarea>
        <br>
        <label for="Password">Contraseña</label>
       <br>
        <input type="password" name="Password" required>
        <br><br>
        <label for="Confimar">Acepto los términos y condiciones</label>

        <input type="checkbox">
   <br>
        <label for="Informacion">Acepto recibir correos de begup</label>
    
        <input type="checkbox">
        <br>
    <br>
    <input id="boton" type="submit" value="Registrar">
<br>
    
</form>
<br>
<br>
<br>
    <footer>
        
        <br>
        <br>
        <br>
        <h3>Redes Sociales De Begup!</h3>
        <br>
        <h3>Visitanos En Facebook</h3>
        <a href="https://www.facebook.com/BEGUP.PROVINCIAL/?locale=es_LA">Facebook</a>
        <br>
        <h3>Visitanos en nuestras paginas Web</h3>
        <a href="hhttps://begup.jujuy.gob.ar/">Begup Oficial</a>
        <br>
        <h3>Visitanos en Instagram</h3>
        <a href="https://www.instagram.com/begup.boleto.educativo/?hl=es-la">Pagina Oficial</a>
    </footer>
</body>
</html>
