<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prog Visual</title>
</head>
<body>
    <header>
        <h1>Bienvenidos a Programación Visual</h1>
        <nav>
            <a href="#seccion1">Sección Horarios de Clase</a>
            <a href="#seccion2">Sección Profesores</a>
            <a href="#seccion3">Sección Informacion Adicional</a>
        </nav>
    </header>
    <section id="seccion1">
    <main>
        <section>
            <h2>Presentacion de la materia</h2>
            <p>La asignatura está diseñada para proporcionar a los estudiantes una comprensión profunda de la arquitectura de aplicaciones web,
                 centrándose en las tecnologías más relevantes y modernas en el desarrollo de software.
                 A lo largo del curso, se explorarán conceptos fundamentales de frameworks,
                 con especial atención a Spring Framework y Spring Boot , que son esenciales para el desarrollo de aplicaciones empresariales en Java.
            </p>
        </section>
        <section>
            <h3>
                 Horarios de Clase</h3>
            <p>Teoría</p>
            <ul>
                <li>Horario: Miércoles de 14:00 a 17:00 hs</li>
                <li>Modalidad: Virtual</li>
                <li>Aula: Aula Virtual de la Sala 4 (LUTI)</li>
                <li>Link Zoom: <a href="https://bit.ly/ZOOMFI-14">https://bit.ly/ZOOMFI-14</a></li>
            </ul>
            <p>Práctica</p>
            <ul>
                <li>Comisión 1</li>
                <li>Horario: Lunes de 18:00 a 21:00 hs</li>
                <li>Modalidad: Virtual</li>
                <li>Aula: Aula Virtual del AULA 11</li>
                <li>Link Zoom: <a href="https://bit.ly/ZOOMFI-14">https://bit.ly/ZOOMFI-14</a></li>
            </ul>
            <ul>
                <li>Comisión 2</li>
                <li>Horario: Jueves de 14:00 a 17:00 hs</li>
                <li>Modalidad: Virtual</li>
                <li>Link Zoom: <a href="https://bit.ly/ZOOMFI-14">https://bit.ly/ZOOMFI-14</a></li>
            </ul>
            <ul>
                <li>Comisión 3</li>
                <li>Horario: Viernes de 18:00 a 21:00 hs</li>
                <li>Modalidad: Virtual</li>
                <li>Link Zoom: <a href="https://bit.ly/ZOOMFI-14">https://bit.ly/ZOOMFI-14</a></li>
                <li>Código de Acceso al Zoom: 2024</li>
            </ul>



        </section>
        <section>
            <h2>Profesores</h2>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Horario de Consulta</th>
                    <th>Características</th>
                </tr>
                <tr>
                    <td>Ariel Vega</td>
                    <td>Viernes por la mañana</td>
                    <td>Enfoque práctico y accesibilidad para resolver dudas</td>
                </tr>
                <tr>
                    <td>Carolina Apaza</td>
                    <td>Jueves por la tarde</td>
                    <td>Claridad en la explicación de conceptos teóricos</td>
                </tr>
                <tr>
                    <td>Juan Carlos Rodriguez</td>
                    <td>Miércoles por la tarde</td>
                    <td>Paciencia y detallada atención a cada estudiante</td>
                </tr>
                <tr>
                    <td>Gustavo Sosa</td>
                    <td>Jueves por la noche</td>
                    <td>Habilidad para simplificar temas complejos y enfoque amigable</td>
                </tr>
            </table>
        </section>
    </main>
    </section>

    <section id="seccion2">
        <h1>Sobre mi</h1>
        <aside>
            <img src="Images/gabriel.PNG" width="456" height="300" alt="Mi foto">
            <p>Soy un estudiante de programación en la Universidad Unju.
                Durante mi tiempo en la universidad, he desarrollado un fuerte interés en diversas áreas de la programación, incluyendo el desarrollo web, la inteligencia artificial y la ciencia de datos.
                Me apasiona aprender nuevas tecnologías y aplicarlas para resolver problemas del mundo real. Además, disfruto conocer nuevos desafíos que me permiten mejorar mis habilidades y aprender de mis compañeros.
                En mis tiempos libres me gusta leer, escuchar música y jugar videojuegos.
            </p>
            <a href="https://github.com/GabrielIturreCs">Enlace de mi github</a>
        </aside>
    </section>
    
    </section>
    <section id="seccion3">
    <footer>
        <h2>Correos Para Comunicar con los Profesores de la Catedra</h2>
        <p>Ariel Vega

            Correo: ariel.vega@universidad.edu
            Carolina Apaza
            
            Correo: carolina.apaza@universidad.edu
            Juan Carlos Rodriguez
            
            Correo: juan.rodriguez@universidad.edu
            Gustavo Sosa
            
            Correo: gustavo.sosa@universidad.edu</p>
            <p>© 2024 Universidad de Jujuy. Todos los derechos reservados.</p>
            <p>© 2024 Realizado por GabrielIturreCs Todos los derechos reservados.</p>
    </footer>
    </section>
</body>
</html>